.movie_name{
    color: aliceblue;
    margin-top: 70px;
    font-size: 55px;
    padding-left: 20px;
}
.imdb_container{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 10px;
}
.star_logo{
    height: 30px;
    padding-left: 50px;
}
.imdb_point{
    color: aliceblue;
    font-size: 30px;
}
.slider_container_home{
    margin-top: 35px;
}
.top_slider_home{
    margin-bottom: 10px
}