body{
    background-color: black;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.titles{
    display: flex;
    gap: 45px;
    margin-top: 5px;
    color: rgb(188, 185, 185);
    font-size: 20px;
    margin-left: -750px;
}
.logo{
    height: 95px; 
    cursor: pointer;
}
.search-container{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: solid rgb(191, 180, 180) ;
    margin-right: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
}
.search-box{
    outline: none;
    border: none;
    background-color: transparent;
    caret-color: white;
    color: white;
}
.Vector{
    height: 20px;
}

